<h1> BOOKS LIBRARY </h1>
<div style="padding-bottom: 10px">
  <input type= "text" name= "bookname" [(ngModel)]= "login.bookname" placeholder="BOOKNAME">
  <input type= "text" name= "author" [(ngModel)]= "login.author" placeholder="AUTHOR">
  <input type= "number" name= "price" [(ngModel)]= "login.price" placeholder="PRICE">
  <button (click)= "add()">ADD</button>
</div>
<div align="left" style="padding-bottom: 10px">
  SEARCH <input type="text" name="name" [(ngModel)]="searchText" placeholder="SEARCHING FOR.....">
</div>

<div style="padding-bottom: 10px">
<table border="2px" bgcolor="#efefef" >
  <thead>
    
    <tr>
      <th> BOOKNAME </th>
      <th> AUTHOR </th>
      <th> PRICE </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let x of table | paginate: { itemsPerPage:5,currentPage:p } | search: searchText; let i=index; ">  
      <td> {{ x.bookname }} </td>
      <td> {{ x.author }} </td>
      <td> {{ x.price }} </td>
       <td><button (click)="delete(i)">Delete</button></td>
    </tr>
  </tbody>
</table>

</div>
<pagination-controls (pageChange)="p=$event"></pagination-controls>
